In [1]:
import pymysql

ENDPOINT="mysql-db.clnepvfqmsjh.us-east-1.rds.amazonaws.com"
PORT=3306
USER="admin"
REGION="us-east-1"
# DBNAME="mysql-db"
PASSWD='kwZQXExJUB4s6PY1XOM6'

conn =  pymysql.connect(host=ENDPOINT, user=USER, passwd=PASSWD, port=PORT,) #database=DBNAME)
cur = conn.cursor()

In [ ]:
cur.execute("""CREATE DATABASE hockey_data;""")

In [5]:
cur.execute("""CREATE TABLE hockey_data.test1 (column1 INT, column2 VARCHAR(255));""")
cur.close()

In [15]:
import requests

url = "https://api-hockey.p.rapidapi.com/games/"

querystring = {"date":"2023-04-19"}

headers = {
	"X-RapidAPI-Key": "95d1d0071fmsh61e56ba2bd00280p11af1ajsna4e07526c0e4",
	"X-RapidAPI-Host": "api-hockey.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

json_response = response.json()

In [10]:
pd.set_option('display.max_columns', None)

In [16]:
import pandas as pd
json_response_norm = pd.json_normalize(json_response['response'], sep='_')

In [13]:
json_response_norm.dtypes

id                    int64
date                 object
time                 object
timestamp             int64
timezone             object
week                 object
timer                object
events                 bool
status_long          object
status_short         object
country_id            int64
country_name         object
country_code         object
country_flag         object
league_id             int64
league_name          object
league_type          object
league_logo          object
league_season         int64
teams_home_id         int64
teams_home_name      object
teams_home_logo      object
teams_away_id         int64
teams_away_name      object
teams_away_logo      object
scores_home           int64
scores_away           int64
periods_first        object
periods_second       object
periods_third        object
periods_overtime     object
periods_penalties    object
dtype: object

In [14]:
json_response_norm.head()

,id,date,time,timestamp,timezone,week,timer,events,status_long,status_short,country_id,country_name,country_code,country_flag,league_id,league_name,league_type,league_logo,league_season,teams_home_id,teams_home_name,teams_home_logo,teams_away_id,teams_away_name,teams_away_logo,scores_home,scores_away,periods_first,periods_second,periods_third,periods_overtime,periods_penalties
0,332493,2023-04-20T00:00:00+00:00,00:00,1681948800,UTC,None,None,True,After Over Time,AOT,31,USA,US,https://media-2.api-sports.io/flags/us.svg,58,AHL,League,https://media-2.api-sports.io/hockey/leagues/5...,2022,623,Rockford IceHogs,https://media-3.api-sports.io/hockey/teams/623...,615,Iowa Wild,https://media-2.api-sports.io/hockey/teams/615...,3,2,2-1,0-1,0-0,1-0,None
1,332515,2023-04-20T00:05:00+00:00,00:05,1681949100,UTC,None,None,True,Finished,FT,31,USA,US,https://media-1.api-sports.io/flags/us.svg,59,ECHL,League,https://media-3.api-sports.io/hockey/leagues/5...,2022,646,Kansas City,https://media-1.api-sports.io/hockey/teams/646...,635,Allen Americans,https://media-2.api-sports.io/hockey/teams/635...,2,3,0-2,2-1,0-0,None,None
2,332357,2023-04-20T01:00:00+00:00,01:00,1681952400,UTC,Quarter-finals,None,True,After Over Time,AOT,4,Canada,CA,https://media-3.api-sports.io/flags/ca.svg,4,WHL,League,https://media-2.api-sports.io/hockey/leagues/4...,2022,46,Moose Jaw Warriors,https://media-2.api-sports.io/hockey/teams/46.png,59,Winnipeg Ice,https://media-1.api-sports.io/hockey/teams/59.png,2,3,1-1,0-1,1-0,0-1,None
3,332358,2023-04-20T01:00:00+00:00,01:00,1681952400,UTC,Quarter-finals,None,True,Finished,FT,4,Canada,CA,https://media-1.api-sports.io/flags/ca.svg,4,WHL,League,https://media-1.api-sports.io/hockey/leagues/4...,2022,50,Red Deer Rebels,https://media-1.api-sports.io/hockey/teams/50.png,52,Saskatoon Blades,https://media-3.api-sports.io/hockey/teams/52.png,2,4,2-0,0-1,0-3,None,None
4,332494,2023-04-20T01:05:00+00:00,01:05,1681952700,UTC,None,None,True,After Over Time,AOT,31,USA,US,https://media-3.api-sports.io/flags/us.svg,58,AHL,League,https://media-1.api-sports.io/hockey/leagues/5...,2022,610,Colorado Eagles,https://media-3.api-sports.io/hockey/teams/610...,620,Ontario Reign,https://media-3.api-sports.io/hockey/teams/620...,3,2,0-0,1-2,1-0,1-0,None

In [19]:
json_response_norm.to_sql(con=conn, name='hockey_matches_raw', if_exists='append')

/Users/ayan/opt/anaconda3/envs/lakehouse/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

DatabaseError: Execution failed on sql: SELECT name FROM sqlite_master WHERE type='table' AND name=?;
not all arguments converted during string formatting
unable to rollback

In [18]:
type(json_response_norm)

pandas.core.frame.DataFrame

In [22]:
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://admin:kwZQXExJUB4s6PY1XOM6@mysql-db.clnepvfqmsjh.us-east-1.rds.amazonaws.com/hockey_data')

In [21]:
! conda install -c anaconda sqlalchemy -y

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.1.0
  latest version: 23.3.1

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.3.1



## Package Plan ##

  environment location: /Users/ayan/opt/anaconda3/envs/lakehouse

  added / updated specs:
    - sqlalchemy


The following NEW packages will be INSTALLED:

  greenlet           anaconda/osx-arm64::greenlet-1.1.1-py310hc377ac9_0
  sqlalchemy         anaconda/osx-arm64::sqlalchemy-1.4.32-py310h1a28f6b_0



Downloading and Extracting Packages

Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [23]:
json_response_norm.to_sql(con=engine, name='hockey_matches_raw', if_exists='append')

31