In [9]:
import requests

url = "https://api-basketball.p.rapidapi.com/games"

querystring = {"date":"2023-02-04"}

headers = {
	"X-RapidAPI-Key": "95d1d0071fmsh61e56ba2bd00280p11af1ajsna4e07526c0e4",
	"X-RapidAPI-Host": "api-basketball.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

In [14]:
import pandas as pd

In [17]:
pd.DataFrame.from_dict(response.json()['response'])

,id,date,time,timestamp,timezone,stage,week,status,league,country,teams,scores
0,331468,2023-02-04T00:00:00+00:00,00:00,1675468800,UTC,None,None,"{'long': 'Game Finished', 'short': 'FT', 'time...","{'id': 20, 'name': 'NBA - G League', 'type': '...","{'id': 5, 'name': 'USA', 'code': 'US', 'flag':...","{'home': {'id': 259, 'name': 'Greensboro Swarm...","{'home': {'quarter_1': 42, 'quarter_2': 31, 'q..."
1,331469,2023-02-04T00:00:00+00:00,00:00,1675468800,UTC,None,None,"{'long': 'Game Finished', 'short': 'FT', 'time...","{'id': 20, 'name': 'NBA - G League', 'type': '...","{'id': 5, 'name': 'USA', 'code': 'US', 'flag':...","{'home': {'id': 3170, 'name': 'Maine Celtics',...","{'home': {'quarter_1': 25, 'quarter_2': 14, 'q..."
2,332112,2023-02-04T00:00:00+00:00,00:00,1675468800,UTC,None,24,"{'long': 'Game Finished', 'short': 'FT', 'time...","{'id': 18, 'name': 'Liga A', 'type': 'League',...","{'id': 6, 'name': 'Argentina', 'code': 'AR', '...","{'home': {'id': 3115, 'name': 'Union De Santa ...","{'home': {'quarter_1': 17, 'quarter_2': 25, 'q..."
3,333446,2023-02-04T00:00:00+00:00,00:00,1675468800,UTC,None,None,"{'long': 'Game Finished', 'short': 'FT', 'time...","{'id': 299, 'name': 'Champions League Americas...","{'id': 62, 'name': 'World', 'code': ' ', 'flag...","{'home': {'id': 295, 'name': 'Quimsa', 'logo':...","{'home': {'quarter_1': 28, 'quarter_2': 12, 'q..."
4,337527,2023-02-04T00:00:00+00:00,00:00,1675468800,UTC,None,None,"{'long': 'Game Finished', 'short': 'FT', 'time...","{'id': 116, 'name': 'NCAA', 'type': 'League', ...","{'id': 5, 'name': 'USA', 'code': 'US', 'flag':...","{'home': {'id': 1949, 'name': 'Iona', 'logo': ...","{'home': {'quarter_1': 0, 'quarter_2': 48, 'qu..."
...,...,...,...,...,...,...,...,...,...,...,...,...
484,341807,2023-02-04T23:00:00+00:00,23:00,1675551600,UTC,None,None,"{'long': 'Game Finished', 'short': 'FT', 'time...","{'id': 114, 'name': 'LNB', 'type': 'League', '...","{'id': 53, 'name': 'Chile', 'code': 'CL', 'fla...","{'home': {'id': 1388, 'name': 'Valdivia', 'log...","{'home': {'quarter_1': 22, 'quarter_2': 20, 'q..."
485,337574,2023-02-04T23:30:00+00:00,23:30,1675553400,UTC,None,None,"{'long': 'Game Finished', 'short': 'FT', 'time...","{'id': 116, 'name': 'NCAA', 'type': 'League', ...","{'id': 5, 'name': 'USA', 'code': 'US', 'flag':...","{'home': {'id': 2083, 'name': 'Prairie View A&...","{'home': {'quarter_1': 0, 'quarter_2': 33, 'qu..."
486,337599,2023-02-04T23:30:00+00:00,23:30,1675553400,UTC,None,None,"{'long': 'Game Finished', 'short': 'FT', 'time...","{'id': 116, 'name': 'NCAA', 'type': 'League', ...","{'id': 5, 'name': 'USA', 'code': 'US', 'flag':...","{'home': {'id': 1952, 'name': 'Jackson State',...","{'home': {'quarter_1': 0, 'quarter_2': 40, 'qu..."
487,337624,2023-02-04T23:30:00+00:00,23:30,1675553400,UTC,None,None,"{'long': 'Game Finished', 'short': 'FT', 'time...","{'id': 116, 'name': 'NCAA', 'type': 'League', ...","{'id': 5, 'name': 'USA', 'code': 'US', 'flag':...","{'home': {'id': 1890, 'name': 'Duke', 'logo': ...","{'home': {'quarter_1': 0, 'quarter_2': 33, 'qu..."
488,341808,2023-02-04T23:30:00+00:00,23:30,1675553400,UTC,None,None,"{'long': 'Game Finished', 'short': 'FT', 'time...","{'id': 114, 'name': 'LNB', 'type': 'League', '...","{'id': 53, 'name': 'Chile', 'code': 'CL', 'fla...","{'home': {'id': 1447, 'name': 'Espanol de Talc...","{'home': {'quarter_1': 29, 'quarter_2': 23, 'q..."

In [19]:
pd.set_option('display.max_columns', None)

In [21]:
basketball_data: pd.DataFrame = pd.json_normalize(response.json()['response'], sep='_')

In [22]:
basketball_data.columns

Index(['id', 'date', 'time', 'timestamp', 'timezone', 'stage', 'week',
       'status_long', 'status_short', 'status_timer', 'league_id',
       'league_name', 'league_type', 'league_season', 'league_logo',
       'country_id', 'country_name', 'country_code', 'country_flag',
       'teams_home_id', 'teams_home_name', 'teams_home_logo', 'teams_away_id',
       'teams_away_name', 'teams_away_logo', 'scores_home_quarter_1',
       'scores_home_quarter_2', 'scores_home_quarter_3',
       'scores_home_quarter_4', 'scores_home_over_time', 'scores_home_total',
       'scores_away_quarter_1', 'scores_away_quarter_2',
       'scores_away_quarter_3', 'scores_away_quarter_4',
       'scores_away_over_time', 'scores_away_total'],
      dtype='object')

In [45]:
basketball_data['scores_home_over_time'].value_counts()

10.0    4
14.0    3
7.0     2
4.0     1
28.0    1
6.0     1
24.0    1
11.0    1
9.0     1
8.0     1
Name: scores_home_over_time, dtype: int64

In [41]:
basketball_data.head()

,id,date,time,timestamp,timezone,stage,week,status_long,status_short,status_timer,league_id,league_name,league_type,league_season,league_logo,country_id,country_name,country_code,country_flag,teams_home_id,teams_home_name,teams_home_logo,teams_away_id,teams_away_name,teams_away_logo,scores_home_quarter_1,scores_home_quarter_2,scores_home_quarter_3,scores_home_quarter_4,scores_home_over_time,scores_home_total,scores_away_quarter_1,scores_away_quarter_2,scores_away_quarter_3,scores_away_quarter_4,scores_away_over_time,scores_away_total
0,331468,2023-02-04T00:00:00+00:00,00:00,1675468800,UTC,None,None,Game Finished,FT,None,20,NBA - G League,League,2022-2023,https://media-1.api-sports.io/basketball/leagu...,5,USA,US,https://media-3.api-sports.io/flags/us.svg,259,Greensboro Swarm,https://media-1.api-sports.io/basketball/teams...,3403,Grand Rapids Gold,https://media-1.api-sports.io/basketball/teams...,42.0,31.0,24.0,26.0,NaN,123.0,18.0,29.0,37.0,23.0,NaN,107.0
1,331469,2023-02-04T00:00:00+00:00,00:00,1675468800,UTC,None,None,Game Finished,FT,None,20,NBA - G League,League,2022-2023,https://media-1.api-sports.io/basketball/leagu...,5,USA,US,https://media-1.api-sports.io/flags/us.svg,3170,Maine Celtics,https://media-3.api-sports.io/basketball/teams...,254,College Park Skyhawks,https://media-2.api-sports.io/basketball/teams...,25.0,14.0,35.0,22.0,NaN,96.0,25.0,35.0,26.0,28.0,NaN,114.0
2,332112,2023-02-04T00:00:00+00:00,00:00,1675468800,UTC,None,24,Game Finished,FT,None,18,Liga A,League,2022-2023,https://media-2.api-sports.io/basketball/leagu...,6,Argentina,AR,https://media-3.api-sports.io/flags/ar.svg,3115,Union De Santa Fe,https://media-2.api-sports.io/basketball/teams...,297,San Lorenzo,https://media-1.api-sports.io/basketball/teams...,17.0,25.0,23.0,25.0,NaN,90.0,20.0,18.0,19.0,22.0,NaN,79.0
3,333446,2023-02-04T00:00:00+00:00,00:00,1675468800,UTC,None,None,Game Finished,FT,None,299,Champions League Americas,cup,2022-2023,https://media-3.api-sports.io/basketball/leagu...,62,World,,https://media-2.api-sports.io/flags/ .svg,295,Quimsa,https://media-2.api-sports.io/basketball/teams...,2990,Bigua,https://media-2.api-sports.io/basketball/teams...,28.0,12.0,21.0,27.0,NaN,88.0,11.0,24.0,17.0,15.0,NaN,67.0
4,337527,2023-02-04T00:00:00+00:00,00:00,1675468800,UTC,None,None,Game Finished,FT,None,116,NCAA,League,2022-2023,https://media-1.api-sports.io/basketball/leagu...,5,USA,US,https://media-3.api-sports.io/flags/us.svg,1949,Iona,https://media-1.api-sports.io/basketball/teams...,2020,Mount St. Mary's,https://media-2.api-sports.io/basketball/teams...,0.0,48.0,0.0,33.0,NaN,81.0,0.0,18.0,0.0,33.0,NaN,51.0

In [23]:
basketball_data.dtypes

id                         int64
date                      object
time                      object
timestamp                  int64
timezone                  object
stage                     object
week                      object
status_long               object
status_short              object
status_timer              object
league_id                  int64
league_name               object
league_type               object
league_season             object
league_logo               object
country_id                 int64
country_name              object
country_code              object
country_flag              object
teams_home_id              int64
teams_home_name           object
teams_home_logo           object
teams_away_id              int64
teams_away_name           object
teams_away_logo           object
scores_home_quarter_1    float64
scores_home_quarter_2    float64
scores_home_quarter_3    float64
scores_home_quarter_4    float64
scores_home_over_time    float64
scores_home_total        float64
scores_away_quarter_1    float64
scores_away_quarter_2    float64
scores_away_quarter_3    float64
scores_away_quarter_4    float64
scores_away_over_time    float64
scores_away_total        float64
dtype: object

In [24]:
len(basketball_data.columns)

37

In [27]:
import boto3

In [39]:
def get_data_from_api():
    url = "https://api-basketball.p.rapidapi.com/games"

    querystring = {"date":"2023-02-04"}

    headers = {
        "X-RapidAPI-Key": "95d1d0071fmsh61e56ba2bd00280p11af1ajsna4e07526c0e4",
        "X-RapidAPI-Host": "api-basketball.p.rapidapi.com"
    }

    response = requests.request("GET", url, headers=headers, params=querystring)
    json_response = response.json()

    api_data = json.dumps(json_response, indent=4)

    s3 = boto3.resource(
        service_name='s3',
        region_name='us-east-1',
        aws_access_key_id='AKIA4VNTOKW7LDEWF4VW',
        aws_secret_access_key='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',
    )

    s3_bucket = s3.Bucket(name='cs779')

    s3_bucket.put_object(
        Key='basketball_games.json',
        Body=api_data
    )
    
def upload_to_azure_sql():
    conn = pyodbc.connect(
        'DRIVER={ODBC Driver 18 for SQL Server};Server=tcp:cs779-server.database.windows.net,1433;Database=cs779;Uid=epoch;Pwd=**********;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;'
        )
    cursor = conn.cursor()

    s3 = boto3.resource(
        service_name='s3',
        region_name='us-east-1',
        aws_access_key_id='AKIA4VNTOKW7LDEWF4VW',
        aws_secret_access_key='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',
    )

    s3_object = s3.Bucket('cs779').Object('basketball_games.json').get()['Body'].read()
    s3_json = json.loads(s3_object)

    df: pd.DataFrame = pd.json_normalize(s3_json['response'], sep='_')

    for row in df.itertuples():
        cursor.execute('''
                    INSERT INTO basketball_games (
                        id,
                        date,
                        time,
                        timestamp,
                        timezone,
                        stage,
                        week,
                        status_long,
                        status_short,
                        status_timer,
                        league_id,
                        league_name,
                        league_type,
                        league_season,
                        league_logo,
                        country_id,
                        country_name,
                        country_code,
                        country_flag,
                        teams_home_id,
                        teams_home_name,
                        teams_home_logo,
                        teams_away_id,
                        teams_away_name,
                        teams_away_logo,
                        scores_home_quarter_1,
                        scores_home_quarter_2,
                        scores_home_quarter_3,
                        scores_home_quarter_4,
                        scores_home_over_time,
                        scores_home_total,
                        scores_away_quarter_1,
                        scores_away_quarter_2,
                        scores_away_quarter_3,
                        scores_away_quarter_4,
                        scores_away_over_time,
                        scores_away_total
                        )
                    VALUES (
                    ?,?,?,?,?,?,?,?,?,?,?,?,
                    ?,?,?,?,?,?,?,?,?,?,?,?,
                    ?,?,?,?,?,?,?,?,?,?,?,?,
                    ?,
                    )
                    ''',
                    row.id,
                    row.date,
                    row.time,
                    row.timestamp,
                    row.timezone,
                    row.stage,
                    row.week,
                    row.status_long,
                    row.status_short,
                    row.status_timer,
                    row.league_id,
                    row.league_name,
                    row.league_type,
                    row.league_season,
                    row.league_logo,
                    row.country_id,
                    row.country_name,
                    row.country_code,
                    row.country_flag,
                    row.teams_home_id,
                    row.teams_home_name,
                    row.teams_home_logo,
                    row.teams_away_id,
                    row.teams_away_name,
                    row.teams_away_logo,
                    row.scores_home_quarter_1,
                    row.scores_home_quarter_2,
                    row.scores_home_quarter_3,
                    row.scores_home_quarter_4,
                    row.scores_home_over_time,
                    row.scores_home_total,
                    row.scores_away_quarter_1,
                    row.scores_away_quarter_2,
                    row.scores_away_quarter_3,
                    row.scores_away_quarter_4,
                    row.scores_away_over_time,
                    row.scores_away_total
                    )
    conn.commit()

In [29]:
get_data_from_api()

In [31]:
import pyodbc

In [40]:
upload_to_azure_sql()

Error: ('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'ODBC Driver 18 for SQL Server' : file not found (0) (SQLDriverConnect)")