In [0]:
connectionString='mongodb+srv://ashkenov_a:Yonsei7991@mycluster.2gvwkvc.mongodb.net/?retryWrites=true&w=majority'
database="football_api"
collection="english_leagues"
df = spark.read.format("mongo").option("database", database).option("spark.mongodb.input.uri", connectionString).option("collection",collection).load()

In [0]:
df2 = df.selectExpr(
    'league.id AS league_id',
    'league.name AS league_name',
    'league.type AS league_type',
)

In [0]:
table_name = "football_english_leagues"
df2.write.saveAsTable(table_name)

In [0]:
collection2 = "english_teams"
df3 = spark.read.format("mongo").option("database", database).option("spark.mongodb.input.uri", connectionString).option("collection",collection2).load()

In [0]:
df4 = df3.selectExpr(
    'team.id AS team_id',
    'team.name AS team_name',
    'team.founded AS team_founded',
)

In [0]:
table_name2 = "football_english_teams"
df4.write.saveAsTable(table_name2)